DASHBOARD_URL=http://localhost:62080
DASHBOARD_USERNAME=test
DASHBOARD_API_KEY=test

STORAGE_SERVICE_URL=http://localhost:62081
STORAGE_SERVICE_USERNAME=test
STORAGE_SERVICE_PASSWORD=test

LOCATION_UUID=4c767270-90dc-444e-b818-4f5be62335f5
OUTPUT_DIR=archivematica/hack/submodules/archivematica-sampledata/archiva/

DATABASE_URL="postgresql://postgres:prisma@db:5432/postgres?schema=public"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

JWT=1234
